services:
  postgres:
    image: postgres:16
    container_name: craft_sales_db
    environment:
      POSTGRES_DB: craft_sales
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
